<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>activity</title>

<link type="text/css" rel="stylesheet" href="../static/css/style2.css">
<link type="text/css" rel="stylesheet" href="../static/css/style1.css">

<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:1px;
	top:109px;
	width:100%;
	height:55px;
	z-index:3;
	background-color: #CC0000;
}
-->
</style>
</head>

<body>
<div class="ph-heart-nav nav">
		<a href="../">主页</a>
		<a href="">公益活动</a>
		<a href="../thing/">公益账单</a>
		<a href="#">加入我们</a>
		<div class="effect">	</div>
</div>
<div class="up-logo"><img src="../static/image/logo.png" height="74" class="logo" /> <span class="body STYLE6">爱心公益</span></div>
<div id="Layer1"></div>
<div class="cards">

  {% for ActVolum in lists %}
    <div class="card">
    <img src="../static/image/wave1.jpg">
    <div class="card-title">
      <a  class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
          {{ ActVolum.v_name }}

      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
         {{ ActVolum.v_describe }}
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
          <a class="btn1 btn" href="../vol/{{ ActVolum.act_numb }}">Read more</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script type="text/javascript" src='../static/js/jquery.min.js'></script>
<script type="text/javascript" src="../static/js/index.js"></script>
</body>
</html>